
@import url('https://fonts.googleapis.com/css?family=Lato|Raleway:900&display=swap');


body{
    width:100%;
    height:auto;
    margin: 0px 0px;
    padding 0px 0px;
    overflow-x:hidden;
}

.container{
    width:50%;
    height:auto;
    margin-top:75px;
    margin-left:350px;
    border-radius: 7px;
    background-color: #66c4ff;
    z-index:100;
    padding-bottom:35px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4) inset, 0px 0px 20px rgba(0, 0, 0, 0.6);
    position:absolute
}

.title{
    padding-top:10px;
    margin-left:300px;
}

.title h1{
    font-family: 'Raleway', sans-serif;
}

.inner_container{
    width:100%;
    background-color: white;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.4),  0 -3px 20px rgba(0, 0, 0, 0.4);
    overflow-x:none;
    margin-top:10px;
}

/* home page styles */

.todo_item{
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width:100%;
    height:80px;
}

a.del{
    position:absolute;
    text-decoration:none;
    margin-top:25px;
    margin-left:25px;
    padding:5px 10px;
    background-color: #000;
    color:white;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
}

a.del:hover{
    background-color: #66c4ff;
    border:1px solid black;
}

h1.task{
    font-size: 25px;
    margin-left: 130px;
    margin-top:15px;
    height:auto;
    font-family: 'Lato', sans-serif;
}

h2.date{
    font-size: 13px;
    margin-left: 130px;
    margin-top:-5px;
    font-family: 'Lato', sans-serif;
}

.create_btn {
    margin-top:35px;
    margin-left:290px;
}

.create_btn a{
    text-decoration:none;
    padding:10px 13px;
    background-color: #000;
    color:white;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
}

.create_btn a:hover{
    cursor:pointer;
    background-color: #fff;
    border:1px solid black;
    color:black;
}






/* create page styles */


#id_date{
    margin-top:30px;
    margin-bottom:5px;
    padding: 5px 0px;
    text-align:center;
    font-size:12px;
}

#id_task{
    padding: 5px 0px;
    text-align:center;
    font-size:12px;
}

label {
    margin-left:250px;
    padding: 10px 0px;
    font-size:20px;
    font-family: 'Lato', sans-serif;
}

input[type=submit]{
    margin-top:15px;
    margin-left: 330px;
    margin-bottom:25px;
    padding:10px 13px;
    background-color: #000;
    color:white;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-size:14px;
}

input[type=submit]:hover{
    cursor:pointer;
}

.cancel_btn {
    margin-top:35px;
    margin-left:330px;
}

.cancel_btn a{
    text-decoration:none;
    padding:10px 13px;
    background-color: #000;
    color:white;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
}

.create_btn a:hover{
    cursor:pointer;
}

ul.errorlist li{
    color:red;
    list-style:none;
    margin-left:215px;
    padding-top:20px;
    font-family: 'Lato', sans-serif;
}




/* delete page styles */

h1.del{
    font-size:22px;
    padding-top:20px;
    margin-left:130px;

}

input[type=submit].yes{
    margin-top:15px;
    margin-left: 300px;
    margin-bottom:25px;
    padding:10px 13px;
    background-color: #000;
    color:white;
    border-radius: 5px;
    font-size:14px;
    border: none;
    font-family: 'Lato', sans-serif;
}

input[type=submit].yes:hover{
    background-color: #66c4ff;
    border:1px solid black;
}

a.cancel{
    color:white;
    background-color:#000;
    margin-left:15px;
    padding:10px 13px;
    border-radius: 5px;
    font-size:14px;
    text-decoration:none;
    font-family: 'Lato', sans-serif;
}

a.cancel:hover{
    background-color: #66c4ff;
    border:1px solid black;
}
